<a href="https://colab.research.google.com/github/Bgail-ranu/Codveda_Technologies/blob/main/Level2_Task2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import LabelEncoder, StandardScaler, OneHotEncoder
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, LabelEncoder

from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier, StackingClassifier

from sklearn.metrics import(
    accuracy_score,
    precision_score,
    recall_score,
    f1_score,
    confusion_matrix,
    classification_report,
    roc_auc_score,
    roc_curve
)

from sklearn.model_selection import GridSearchCV

import warnings
warnings.filterwarnings('ignore')

In [2]:
from google.colab import drive
drive.mount('/content/drive')
df = pd.read_csv('/content/drive/MyDrive/Churn_cleaned.csv')
df.head()

Mounted at /content/drive

,Account length,Total day charge,Total eve charge,Total night charge,Total intl charge,Customer service calls,Churn,Churn_numeric
0,117,31.37,29.89,9.71,2.35,1,False,0
1,65,21.95,19.42,9.40,3.43,4,True,1
2,161,56.59,27.01,7.23,1.46,4,True,1
3,111,18.77,11.67,8.53,2.08,2,False,0
4,49,20.28,18.28,8.04,3.00,1,False,0

In [13]:
y = df['Churn'].astype(int)
x = df.drop(['Total day charge', 'Total eve charge', 'Total night charge', 'Total intl charge', 'Customer service calls', 'Churn'], axis=1)

print(f"Features shape: {x.shape}")
print(f"Target shape: {y.shape}")
y

Features shape: (667, 2)
Target shape: (667,)

0      0
1      1
2      1
3      0
4      0
      ..
662    0
663    0
664    0
665    0
666    0
Name: Churn, Length: 667, dtype: int64

In [14]:
x

     Account length  Churn_numeric
0               117              0
1                65              1
2               161              1
3               111              0
4                49              0
..              ...            ...
662             114              0
663             106              0
664              60              0
665             159              0
666             184              0

[667 rows x 2 columns]

In [15]:
x_train, x_test, y_train, y_test = train_test_split(
    x, y,
    test_size=0.2,
    random_state=42,
    stratify=y)
print(f"Training set: {x_train.shape}")
print(f"Test set: {x_test.shape}")

Training set: (533, 2)
Test set: (134, 2)

## **DecisionTree**

In [16]:
dt_clf = DecisionTreeClassifier(random_state=42, max_depth=5)
dt_clf.fit(x_train, y_train)
print("Decision Tree trained!")

# Make predictions
y_pred_dt = dt_clf.predict(x_test)
print("Predictions made!")

Decision Tree trained!
Predictions made!

In [17]:
def evaluate_model(model_name, y_test, y_pred):


    # Calculate all metrics
    accuracy = accuracy_score(y_test, y_pred)
    precision = precision_score(y_test, y_pred)
    recall = recall_score(y_test, y_pred)
    f1 = f1_score(y_test, y_pred)

    # Print metrics
    print(f"Accuracy:  {accuracy:.4f} ({accuracy*100:.2f}%)")
    print(f"Precision: {precision:.4f} ({precision*100:.2f}%)")
    print(f"Recall:    {recall:.4f} ({recall*100:.2f}%)")
    print(f"F1-Score:  {f1:.4f} ({f1*100:.2f}%)")

    '''print(f"\n{'-'*70}")
    print("WHAT THESE NUMBERS MEAN:")
    print(f"{'-'*70}")
    print(f"✓ Model got {accuracy*100:.2f}% of predictions correct")
    print(f"✓ Of approved loans, {precision*100:.2f}% were actually good")
    print(f"✓ Of good loans, we approved {recall*100:.2f}% of them")
    print(f"✓ F1-Score balances precision and recall: {f1*100:.2f}%")'''

    # Confusion Matrix
    print(f"\n{'-'*70}")
    print("CONFUSION MATRIX:")
    print(f"{'-'*70}")
    cm = confusion_matrix(y_test, y_pred)
    print(cm)
    '''print(f"\nBreakdown:")
    print(f"  True Negatives (Correctly Rejected):  {cm[0][0]}")
    print(f"  False Positives (Wrongly Approved):   {cm[0][1]} ⚠️")
    print(f"  False Negatives (Wrongly Rejected):   {cm[1][0]} ⚠️")
    print(f"  True Positives (Correctly Approved):  {cm[1][1]}")'''

    # Classification Report
    print(f"\n{'-'*70}")
    print("DETAILED CLASSIFICATION REPORT:")
    print(f"{'-'*70}")
    print(classification_report(y_test, y_pred, target_names=['Rejected', 'Approved']))

    # Return metrics as dictionary
    return {
        'accuracy': accuracy,
        'precision': precision,
        'recall': recall,
        'f1_score': f1
    }

In [18]:
dt_results = evaluate_model("Decision Tree", y_test, y_pred_dt)

Accuracy:  1.0000 (100.00%)
Precision: 1.0000 (100.00%)
Recall:    1.0000 (100.00%)
F1-Score:  1.0000 (100.00%)

----------------------------------------------------------------------
CONFUSION MATRIX:
----------------------------------------------------------------------
[[115   0]
 [  0  19]]

----------------------------------------------------------------------
DETAILED CLASSIFICATION REPORT:
----------------------------------------------------------------------
              precision    recall  f1-score   support

    Rejected       1.00      1.00      1.00       115
    Approved       1.00      1.00      1.00        19

    accuracy                           1.00       134
   macro avg       1.00      1.00      1.00       134
weighted avg       1.00      1.00      1.00       134