<a href="https://colab.research.google.com/github/Bgail-ranu/Codveda_Technologies/blob/main/Level3_Task1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import LabelEncoder, StandardScaler, OneHotEncoder
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, LabelEncoder

from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier, StackingClassifier

from sklearn.metrics import(
    accuracy_score,
    precision_score,
    recall_score,
    f1_score,
    confusion_matrix,
    classification_report,
    roc_auc_score,
    roc_curve
)

from sklearn.model_selection import GridSearchCV

import warnings
warnings.filterwarnings('ignore')

In [3]:
from google.colab import drive
drive.mount('/content/drive')
df = pd.read_csv('/content/drive/MyDrive/Churn_cleaned.csv')
df.head()

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

,Account length,Total day charge,Total eve charge,Total night charge,Total intl charge,Customer service calls,Churn,Churn_numeric
0,117,31.37,29.89,9.71,2.35,1,False,0
1,65,21.95,19.42,9.40,3.43,4,True,1
2,161,56.59,27.01,7.23,1.46,4,True,1
3,111,18.77,11.67,8.53,2.08,2,False,0
4,49,20.28,18.28,8.04,3.00,1,False,0

In [4]:
y = df['Churn'].astype(int)
x = df.drop(['Total day charge', 'Total eve charge', 'Total night charge', 'Total intl charge', 'Customer service calls', 'Churn'], axis=1)

print(f"Features shape: {x.shape}")
print(f"Target shape: {y.shape}")
y

Features shape: (667, 2)
Target shape: (667,)

0      0
1      1
2      1
3      0
4      0
      ..
662    0
663    0
664    0
665    0
666    0
Name: Churn, Length: 667, dtype: int64

In [5]:
x_train, x_test, y_train, y_test = train_test_split(
    x, y,
    test_size=0.2,
    random_state=42,
    stratify=y)
print(f"Training set: {x_train.shape}")
print(f"Test set: {x_test.shape}")

Training set: (533, 2)
Test set: (134, 2)

## **RandomForest**

In [6]:

scaler = StandardScaler()

# Fit on training data (learn the mean and std)
# Transform both training and test data using those statistics
X_train_scaled = scaler.fit_transform(x_train)
X_test_scaled = scaler.transform(x_test)

print("Features scaled successfully!")
print(f"Example - Before scaling: {x_train.iloc[0]['Account length']}")
print(f"Example - After scaling: {X_train_scaled[0][0]:.2f}")

Features scaled successfully!
Example - Before scaling: 178
Example - After scaling: 1.84

In [7]:
rf_clf = RandomForestClassifier(n_estimators=100, random_state=42, max_depth=10)
rf_clf.fit(X_train_scaled, y_train)
print("Random Forest trained!")

y_pred_rf = rf_clf.predict(X_test_scaled)
print("Predictions made!")

Random Forest trained!
Predictions made!

In [ ]:
def evaluate_model(model_name, y_test, y_pred):


    # Calculate all metrics
    accuracy = accuracy_score(y_test, y_pred)
    precision = precision_score(y_test, y_pred)
    recall = recall_score(y_test, y_pred)
    f1 = f1_score(y_test, y_pred)

    # Print metrics
    print(f"Accuracy:  {accuracy:.4f} ({accuracy*100:.2f}%)")
    print(f"Precision: {precision:.4f} ({precision*100:.2f}%)")
    print(f"Recall:    {recall:.4f} ({recall*100:.2f}%)")
    print(f"F1-Score:  {f1:.4f} ({f1*100:.2f}%)")

    '''print(f"\n{'-'*70}")
    print("WHAT THESE NUMBERS MEAN:")
    print(f"{'-'*70}")
    print(f"✓ Model got {accuracy*100:.2f}% of predictions correct")
    print(f"✓ Of churned accounts, {precision*100:.2f}% were actually good")
    print(f"✓ Of account length, we approved {recall*100:.2f}% of them")
    print(f"✓ F1-Score balances precision and recall: {f1*100:.2f}%")'''

    # Confusion Matrix
    print(f"\n{'-'*70}")
    print("CONFUSION MATRIX:")
    print(f"{'-'*70}")
    cm = confusion_matrix(y_test, y_pred)
    print(cm)
    '''print(f"\nBreakdown:")
    print(f"  True Negatives (Correctly Rejected):  {cm[0][0]}")
    print(f"  False Positives (Wrongly Approved):   {cm[0][1]} ⚠️")
    print(f"  False Negatives (Wrongly Rejected):   {cm[1][0]} ⚠️")
    print(f"  True Positives (Correctly Approved):  {cm[1][1]}")'''

    # Classification Report
    print(f"\n{'-'*70}")
    print("DETAILED CLASSIFICATION REPORT:")
    print(f"{'-'*70}")
    print(classification_report(y_test, y_pred, target_names=['Rejected', 'Approved']))

    # Return metrics as dictionary
    return {
        'accuracy': accuracy,
        'precision': precision,
        'recall': recall,
        'f1_score': f1
    }

In [ ]:
rf_results = evaluate_model("Random Forest", y_test, y_pred_rf)